::ng-deep {
  .iframe-legacy {
    border: none;
    width: 100%;
    height: 100vh;
  }
  app-topbar {
    display: none !important;
  }
  .main {
    max-width: 9999px !important;
    padding: 0px !important;
  }
  body {
    font-family:
      Roboto,
      Helvetica Neue,
      sans-serif;
    min-height: 100svh;
    min-width: 100svw;
    -webkit-font-smoothing: antialiased;
    position: fixed;
    margin: 0;
  }
}
