@if (sanitized.value) {
  @if (!refresh()) {
    @for (a of links; track $index) {
      @if (key() === a.key) {
        <iframe
          [class.d-none]="!isPageLoaded()"
          [src]="a.url"
          width="100%"
          class="iframe-legacy"
        ></iframe>
      }
    }
  }
}

<header class="tak__header" [class.d-none]="isPageLoaded()">
  <div class="topbar-left-group">
    <button class="home-link" aria-label="Abrir menú">
      <lucide-icon [img]="icons.Menu" [size]="18" />
    </button>

    <div class="topbar-divider"></div>

    <div class="alert-content">
      <div class="breadcrumb-skeleton">
        <span></span>
        <span></span>
        <span></span>
        <span class="last"></span>
      </div>
      <!-- <svg
          style="color: #856404; margin: 3px"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-info h-4 w-4 shrink-0"
          aria-hidden="true"
        >
          <circle cx="12" cy="12" r="10"></circle>
          <path d="M12 16v-4"></path>
          <path d="M12 8h.01"></path>
        </svg>
        <span class="alert web-alert">
          <span style="font-weight: 600">Versión heredada:</span> Este módulo corresponde a una
          versión anterior del sistema. Actualmente se encuentra en desarrollo la actualización.
        </span>
        <span class="alert mobile-alert">
          <span style="font-weight: 600">Versión heredada:</span> Actualización en desarrollo.
        </span> -->
    </div>
  </div>

  <div class="topbar-right-group">
    <a class="menu-button">
      <lucide-icon [img]="icons.LayoutGrid" [size]="16" />
      Volver al menu
    </a>

    <button class="topbar-btn" aria-label="Cerrar sesión">
      <lucide-icon [img]="icons.LogOutIcon" [size]="18" />
    </button>
  </div>
</header>

<div class="tak-fade-in--800ms" style="padding: 20px">
  <div class="table-container-skeleton loading">
    <!-- Skeleton overlay -->
    <div class="table-skeleton">
      <div class="sk-row header"></div>

      <div class="sk-row"></div>
      <div class="sk-row"></div>
      <div class="sk-row"></div>
      <div class="sk-row"></div>
      <div class="sk-row"></div>
      <div class="sk-row"></div>
      <div class="sk-row"></div>
      <div class="sk-row"></div>
      <div class="sk-row"></div>
      <div class="sk-row"></div>
      <div class="sk-row"></div>
      <div class="sk-row"></div>
    </div>
  </div>
</div>
