.disappear-header-on-power-bi {
  display: none !important;
}
.remove-padding-on-power-bi {
  padding: 5px !important;
}
.iframe-local {
  height: calc(100vh);
  border: none;
}
.footer-container {
  position: absolute;
  margin-top: -60px;
}
.first-dat-n {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.second-dat-n {
  min-width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* body,
.tak__outlet {
  background-color: white !important;
} */
.footer-on-mobile {
  display: none !important;
}
.tak__scroll {
  overflow-y: hidden;
}
