.app-create-authorities-web {
  .tab-content {
    margin: auto;
    max-width: 500px;
    padding: 10px;
  }
  .d-flex {
    display: flex;
    align-items: center;
    &.center {
      justify-content: center;
    }
  }
}
