@use 'node_modules/@kato-lee/components/assets/bundle' as componentsCss;
@use 'node_modules/@kato-lee/components/assets/material-icons' as materialIcons;
@use 'node_modules/@kato-lee/components/assets/components/tables' as takTables;
.bg-tak-primary-500 {
  background-color: var(--tak-primary-500) !important;
}
.bg-tak-accent-500 {
  background-color: var(--tak-accent-500) !important;
}
.bg-tak-warn-500 {
  background-color: var(--tak-warn-500) !important;
}
