.d-flex, .d-flex-center {
  display: flex;
  align-items: center;
  &.center { justify-content:center; }
  &.start { justify-content:start; }
  &.end { justify-content:end; }
  &.between { justify-content: space-between; }
  &.space-between { justify-content: space-between; }
}

.bolder { font-weight: bolder !important; }
.normal { font-weight: normal !important; }

.priority {
  &--low { background-color: rgb(0, 128, 0) !important; color: #fff !important; }
  &--medium { background-color: rgb(216, 216, 0) !important; color: #000 !important; }
  &--high { background-color: rgb(255, 165, 0) !important; color: #000 !important; }
  &--critical { background-color: rgb(255, 0, 0) !important; color: #fff !important; }
}

.white-space-normal { white-space: normal !important; }
.white-space-nowrap { white-space: nowrap !important; }

.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }

.align-center { text-align: center; }
.align-right { text-align: right; }
.align-left { text-align: left; }

.overflow-visible { overflow: visible; }
.overflow-hidden { overflow: hidden; }
.overflow-scroll { overflow: scroll; }
.overflow-auto { overflow: auto; }

.cursor-pointer { cursor: pointer; }

.ease { transition: ease 0.3s; }

@mixin customizedMargin($px) {
  .margin-#{$px} { margin: $px; }
  .margin-top-#{$px} { margin-top: $px; }
  .margin-right-#{$px} { margin-right: $px; }
  .margin-bottom-#{$px} { margin-bottom: $px; }
  .margin-left-#{$px} { margin-left: $px; }
}
@include customizedMargin(10px);
@include customizedMargin(20px);
@include customizedMargin(30px);


@mixin customizedPadding($px) {
  .padding-#{$px} { padding: $px; }
  .padding-top-#{$px} { padding-top: $px; }
  .padding-right-#{$px} { padding-right: $px; }
  .padding-bottom-#{$px} { padding-bottom: $px; }
  .padding-left-#{$px} { padding-left: $px; }
}
@include customizedPadding(0px);
@include customizedPadding(10px);
@include customizedPadding(20px);
@include customizedPadding(30px);

.visibility-hidden { visibility: hidden ; }

h1 { font-size: 20px; line-height: 20px; margin: 0px; }
h2 { font-size: 18px; line-height: 18px; margin: 0px; }